<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form (ngSubmit)="recoverPassword()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" type="submit">Cambiar Contraseña</ion-button>
    </form>
  </div>
</ion-content>
